PORT=3000
NODE_ENV=development
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
ADMIN_EMAIL=admin@pran.com
ADMIN_PASSWORD=CHANGE_THIS_ADMIN_PASSWORD
EMPLOYEE_EMAIL=employee@pran.com
EMPLOYEE_PASSWORD=CHANGE_THIS_EMPLOYEE_PASSWORD
